/* table  */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    background-color: #D1D2D4;
    padding: 3px;
    padding-right: 10px;
}

.th {
    /* text-align: center; */
}
